agent/curiosity/memories
agent/curiosity/old_memories
**/*.p
agent/curiosity/pybullet-gym
**/__pycache__/*
agent/curiosity/__pycache__/
agent/curiosity/learning_progresses.txt
agent/curiosity/rewards.txt
agent/curiosity/lprnn.pt
