agent/curiosity/engineered_goal_spaces/memories
agent/curiosity/engineered_goal_spaces/old_memories
agent/curiosity/old_memories
**/*.p
agent/curiosity/pybullet-gym
**/__pycache__/*
agent/curiosity/__pycache__/
agent/curiosity/engineered_goal_spaces/learning_progresses*.txt
agent/curiosity/engineered_goal_spaces/rewards*.txt
agent/curiosity/engineered_goal_spaces/lprnn*.pt
agent/curiosity/engineered_goal_spaces/lprnn_weights*.pt
agent/curiosity/rewards*.txt
agent/curiosity/learning_progresses*.txt
agent/curiosity/test_rewards*.txt
agent/curiosity/lprnn*.pt
#agent/mlagents/summaries/*
#agent/mlagents/models/*
environment/HideAndSeekv12/Library/PackageCache*
environment/HideAndSeekv12/Temp/*
**/*.x86_64
experiments/HideAndSeekv12/*.x86_64
experiments/HideAndSeekv12/Library/*
../../environment/New\ Unity\ Project/
# environment/vrchat/vrcai/bin/*
environment/vrchat/vrcai/.vs/*
experiments/HideAndSeekv12/.vs/HideAndSeekv12/
environment/vrchat/vrcai/packages/
environment/vrchat/UnityMiddleWare/Library
environment/vrchat/UnityMiddleWare/Packages
environment/vrchat/UnityMiddleWare/Unity\ Environment_Data
environment/vrchat/VrcaiMlaCommunicator/packages/*
# environment/vrchat/VrcaiMlaCommunicator/VrcaiMlaCommunicator/bin/*
agent/mlagents/summaries/*
agent/mlagents/models/*
**/Temp/**
**/*db.lock
**/PackageCache/*
environment/neos/UnityMiddleWare2/Library
environment/neos/UnityMiddleWare2/Packages
environment/neos/UnityMiddleWare2/Unity\ Environment_Data
environment/neos/UnityMiddleWare2/Assets/Demonstrations
