agent/curiosity/engineered_goal_spaces/memories
agent/curiosity/engineered_goal_spaces/old_memories
agent/curiosity/old_memories
**/*.p
agent/curiosity/pybullet-gym
**/__pycache__/*
agent/curiosity/__pycache__/
agent/curiosity/engineered_goal_spaces/learning_progresses*.txt
agent/curiosity/engineered_goal_spaces/rewards*.txt
agent/curiosity/engineered_goal_spaces/lprnn*.pt
agent/curiosity/engineered_goal_spaces/lprnn_weights*.pt
agent/curiosity/rewards*.txt
agent/curiosity/learning_progresses*.txt
agent/curiosity/lprnn*.pt
environment/HideAndSeekv12/Library/PackageCache
